@import "./app.config";

@import "./styles/columns";
@import "./styles/text";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
::before, ::after {
  box-sizing: inherit;
}


body {
  margin: auto;

  width: 21cm;
  height: 29.7cm;

  border: 1px solid black;
}
